<% if (messages && messages.length > 0) { %>
  <div class="flash-message <%- messageType%>"> <%= messages[0] %> </div>
  <% } %>

  <h1>Your are logged in</h1> 
<div class="account-management">
  <% if (accountData.account_type === "Admin" || accountData.account_type === "Employee") { %>
    <p>Welcome <%= accountData.account_firstname %></p>
    <h3>Account Management</h3>
    <a href="/account/update/<%- accountData.account_id %>">Update your account information</a>

    <h3>Inventory Management</h3>
    <a href="/inv/">Click here to manage inventory</a>      
  <% } else { %>

    <h3>Account Management</h3>
    <p>Welcome <%= accountData.account_firstname %></p>
    <a href="/account/update/<%- accountData.account_id %>">Update your account information</a>
    <% } %>
</div>