<h1><%- title %></h1>
<% if (messages && messages.length > 0) { %>
  <div class="flash-message"> <%= messages[0] %> </div>
  <% } %> 

  <section class="register-form">
<% if (errors) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>  <form action="/account/register" method="post" id="register-form">
    <div class="form-group">
      <label for="account_firstname">First name</label>
      <input
        type="text"
        name="account_firstname"
        id="accountFirstname"
        required
        value="<%= locals.account_firstname %>"
      />
    </div>
    <div class="form-group">
      <label for="account_lastname">Last name</label>
      <input
        type="text"
        value="<%= locals.account_lastname %>"
        name="account_lastname"
        id="account_lastname"
        required
      />
    </div>
    <div class="form-group">
      <label for="account_email">Email</label>
      <input
        type="account_email"
        name="account_email"
        value="<%= locals.account_email %>"
        id="account_email"
        title="Please enter a valid email address"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div>
        <input
          type="password"
          placeholder="Enter your password"
          name="account_password"
          id="account_password"
          required
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          title="Password must be at least 12 characters long"
          minlength="12"
        />
        <span
          id="password-toggle"
          class="password-toggle"
          style="margin-left: 0.5rem"
        >
          <i class="fa fa-eye" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
    <button type="submit">Register</button>
    <p>Already have an account? <a href="/account/login">Login here</a></p>
  </form>
</section>

<script src="/js/togglePassView.js"></script>
