<h1>Inventory Management</h1>

<% if (messages && messages.length > 0) { %>
<div class="flash-message <%- messageType%>"> <%= messages[0] %> </div>
<% } %> <% if (errors && errors.length > 0) { %>
<div class="flash-message <%- messageType%>"> <%= errors[0] %> </div>
<% } %>

<div class="management-links">
  <a href="/inv/add-classification" class="btn">Add New Classification</a>
  <a href="/inv/add-inventory" class="btn">Add New Inventory</a>
</div>

<div>
  <h2>Manage Inventory</h2>
  <p>Select a classification to manage its inventory</p>
  <table id="classificationDisplay">
    <%- classificationSelect %> 
  </table>
  <noscript>JavaScript must be enabled to use this page.</noscript>
</div>
<script src="../../js/inventory.js"></script>